
.references_div {
    position: absolute;
    height: 100%;
    width: 12.5rem;
    top: 0;
    left: calc(100% - 12.5rem);
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f2f2f2;
}

.references_div h4 {
    margin: 0;
    padding: .5rem;
    font-family: var(--fonts);
    font-size: 1.75rem;
    color: var(--dark);
}

.container_campañas{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding:0 .5rem ;
}

.container_campañas hr {
    margin:0;
    width: 85%;
    height: 1.5px;
    background-color: #797979;
}
.campañas {
    display: flex;
    justify-content: center;
}

.btn_references {
    height: 5rem;
    width: 100%;
    border:none;
    background-color: #f2f2f2;
    font-family: var(--fonts);
    color: var(--grisHr);
    font-size: .8rem;
    text-transform: uppercase;
}

.btn_references:hover {
    cursor: pointer;
    color: var(--dark);
    background-color: var(--gris);
}

.arrow_ref {
    width: 2.5rem;
    height: 2.5rem;
    transform: rotate(180deg);
}
