
.btn_toggle-map {
    position: absolute;
    height: 5rem;
    border: none;
    top: 40%;
    background-color: var(--darkdisabled);
    cursor: pointer;
}

.img_toggle-map {
    padding: 1rem;
    height: 1rem;
}
