.fadein {
    opacity: 0;
    animation: fadein 1s forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeout {
    opacity: 1;
    animation: fadeout 1s forwards;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


.container {
    position: absolute;
    height: 100%;
    width: 80%;
    left: 18rem;
    background-color: var(--darkNodos);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.grid_nodos {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    ;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.nodos_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.nodos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    background-color: var(--dark);
}

.nodos:nth-child(1) {
    background: var(--light);
    color: var(--dark);
}

.nodos h4 {
    font-size: 1rem;
}

.nodos span {
    font-size: .9rem;
    color: var(--light);
    font-family: var(--fonts);
}

.nodos span:nth-child(2) {
    font-size: .7rem;
    text-transform: uppercase;
    color: var(--colorIconsPage);
}

.nodos:hover {
    transition: 1s;
    cursor: pointer;
    color: var(--darkNodos);
    background: var(--colorIconsPage);
}

.nodos:hover span {
    color: var(--dark);
}

.nodos:hover h4 {
    color: var(--dark);
}

.nodo-closeWindow {
    position: absolute;
    background: none;
    border: none;
}

.nodo-closeWindow:hover {
    cursor: pointer;
}

.btn_close-nodos {
    position: absolute;
    top: 10px;
    left: 10px;
  
}

.btn_close-nodos:hover {
    cursor: pointer;
}