@import url(https://fonts.googleapis.com/css2?family=Heebo&family=Poppins:wght@100&family=Roboto:wght@100&display=swap);

:root {
    /* Colors */
    --verdeBtn: #008926;
    --verde: #009144;
    --verdeSuave: #bde9ce;
    --verdeOscuro: #003a3c;
    --verde-vistaguay: #47c278;
    --colorIconsPage: #fcc306;
    --azul: #001718;
    --celeste: #00acd1;
    --rojo: #cf4941;
    --gris: #d6d6d6;
    --grisHr: #444444;
    --dark: #222;
    --darkNodos: #000000a8;
    --darkdisabled: #222222be;
    --light: #e6e8e8;
    --lightdisabled: #e6e8e85b;
    --gradient: linear-gradient(90deg, rgba(0, 55, 59, 1) 0%, rgba(0, 96, 104, 1) 100%);
    /* Fonts */
    --fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --webFont: 'Roboto', sans-serif;
    --titleFont: 'Heebo', sans-serif;
    --font: 'Poppins', sans-serif;
    ;
}

/* Globals */
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto';
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
}

p {
    margin: unset;
}

h1,
h2,
h3,
h4 {
    font-family: var(--titleFont);
}

hr {
    border: none;
    background: var(--grisHr);
    height: 1px;
}

/* Logos */
.logo_grz {
    padding: 1rem;
}

.logo_vsg {
    margin: 0;
}

.arrow-icon {
    width: 2rem;
    height: 2rem;
}

.x-icon {
    width: 4rem;
    height: 4rem;
}
/* Grid */
.grid {
    display: grid;
    grid-template-columns: calc(33.3%, 66.6%);
}

/* Login / Register */
.body_img {
    background: url('./assets/back-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.width {
    width: 95%;
}

.login_pres {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 1rem;
    color: var(--lightdisabled);
}

.login_pres h3 {
    margin: 0;
    padding: .5rem;
    font-size: 1rem;
    font-family: var(--font);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.login_pres hr {
    width: 20rem;
    color: var(--lightdisabled);
}

.login_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login_footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 1rem;
    align-items: center;
}

.login_footer h4 {
    font-family: var(--fonts);
    font-size: 1rem;
    color: var(--light);
    padding: .5rem;
    margin: 0;
}

/* Form Component */
.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 1.5rem;
}

.inp {
    height: 2.5rem;
    width: 20rem;
    padding: 0.5rem;
    font-family: var(--fonts);
    font-size: 1.25rem;
    color: var(--dark);
}

.btn {
    margin-top: .5rem;
    padding: 1rem;
    border: none;
    background: var(--verdeBtn);
    color: var(--light);
    font-family: var(--fonts);
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    background: var(--verde-vistaguay);
}

.link_form {
    font-family: var(--fonts);
    text-decoration: none;
    color: var(--light);
    text-align: right;
}

.link_form:hover {
    color: var(--verde-vistaguay);
}

.btn_link {
    margin-top: .5rem;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    background: var(--lightdisabled);
    font-family: var(--fonts);
    color: var(--light);
}

.btn_link:hover {
    cursor: pointer;
    background: var(--verde-vistaguay);
    color: var(--darkdisabled);
}

.footer_form {
    padding: 1rem;
    text-align: center;
}

.btn_inp-eye,
.btn_inp-eyeSlash {
    position: absolute;
    top: 47.1%;
    left: 56%;
    height: 2rem;
    width: 2rem;
    background: white;
    border: none;
    cursor: pointer;
}

@media (max-width:1298px) {
    .btn_inp-eye,
    .btn_inp-eyeSlash {
        top: 47.4%;
        left: 58.5%;
    }
}

@media (max-width:768px) {
    .btn_inp-eye,
    .btn_inp-eyeSlash {
        top: 47.5%;
        left: 75%;
    }
}

.btn_inp-eye {
    background-image: url("./assets/eye.svg");
}

.btn_inp-eyeSlash {
    background-image: url("./assets/eyeSlash.svg");
}

/* Register */

.register_div {
    background: var(--darkdisabled);
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;
}

.register_bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.4rem 2.8rem;
    border-radius: .3rem;
    background: var(--light);
}

.form_register {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form_register h4 {
    margin: 0;
    padding: .5rem;
    font-family: var(--webFont);
}

.register_inp {
    margin-top: .25rem;
    min-width: 20rem;
    padding: .5rem;
    border: .1rem solid var(--gris);
    border-radius: .5rem;
    font-family: var(--fonts);
    font-size: 1.25rem;
    color: var(--dark);
}

.btn_form-register {
    margin-top: 1.5rem;
    min-width: 22rem;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    font-size: 1rem;
    font-family: var(--fonts);
    background: var(--verde);
    color: var(--dark);
    text-transform: uppercase;
}

.btn_form-register:hover {
    cursor: pointer;
    background: var(--verde-vistaguay);
    color: var(--darkdisabled);
}

.div_closeWindow-register {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .div_closeWindow-register {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
}

.btn_closeWindow-register {
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    font-size: 1rem;
    font-family: var(--fonts);
    background: var(--verdeSuave);
    color: var(--dark);
}

.btn_closeWindow-register:hover {
    cursor: pointer;
    background: var(--verde-vistaguay);
    color: var(--darkdisabled);
}

@media (max-width: 768px) {
    .btn_closeWindow-register {
        min-width: 100%;
    }
}

/* Sidebar */
.sidebar_div {
    position: absolute;
    height: 100%;
    width: 20%;
    padding: 1rem;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.index {
    z-index: 999;
    position: absolute;
    height: 100%;
    width: 21.5%;
    background-color: var(--dark);
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1000px) {
    .index {
        z-index: 999;
        position: absolute;
        height: 100%;
        width: 23%;
        background-color: var(--dark);
        padding-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* 
@media (max-width: 768px) {
    .sidebar_div {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
} */

.nav {
    padding: .5rem;
}

.div_links {
    display: flex;
    justify-content: start;
}

.navLink {
    color: var(--gris);
    font-family: var(--fonts);
    font-size: 1rem;
    padding: .5rem;
    text-decoration: none;
    background: var(--dark);
    border: none;
}

.navLink:hover {
    color: var(--colorIconsPage);
    cursor: pointer;
}

.div_users {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    align-items: start;
}

.div_users span {
    color: var(--colorIconsPage);
    font-size: .8rem;
    font-family: var(--fonts);
}

.div_users h4 {
    margin: 0;
    padding: .5rem 0;
    font-size: 1.25rem;
    color: var(--gris);
    font-family: var(--fonts);
}

.btn_users {
    margin: 0;
    padding: 0;
    border: none;
    text-transform: uppercase;
    font-size: .7rem;
    background-color: var(--dark);
    color: var(--lightdisabled);
}

.btn_users:hover {
    cursor: pointer;
    color: var(--colorIconsPage);
}

.link_logo {
    font-size: .5rem;
    font-family: var(--fonts);
    letter-spacing: .2rem;
    color: var(--gris);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.link_logo:hover {
    color: var(--colorIconsPage);
}

.footer_sidebar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn-logo_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-right: 1rem;
    background: var(--dark);
    border: none;
    cursor: pointer;
}

.btn-logo_arrow:hover {
    background: var(--grisHr);
}

/* Mapa */

.btn-toggle_map {
    position: absolute;
    height: 5rem;
    border: none;
    top: 40%;
    background-color: var(--darkdisabled);
    cursor: pointer;
    z-index: 99;
}

.indexBtn {
    z-index: -1;
    position: absolute;
    height: 5rem;
    border: none;
    top: 40%;
    background-color: var(--darkdisabled);
    cursor: pointer;
}

.img-toggle_map {
    height: 2rem;
    padding: 1rem;
}

/* Nodos */
.main_div-nodos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    margin: 0;
    align-items: center;
    text-align: center;
    background: var(--darkdisabled);
}

.index-nodos {
    position: fixed;
    height: 100%;
    width: 77.4%; 
    left: 22.6%;
    z-index: 9999;
    background: var(--darkdisabled);
    display: flex;
    justify-content: center;
}

.grid-nodos {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(2rem, 1fr));;
    gap: 1rem;
    margin: 0;
    align-items: center;
    text-align: center;
}


.nodos-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nodos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    background-color: var(--dark);
}

.nodos:nth-child(1) {
    background: var(--light);
    color: var(--dark);
}

.nodos h4 {
    font-size: 1rem;
}

.nodos span {  
    font-size: .9rem;
    color: var(--light);
    font-family: var(--fonts);
}

.nodos span:nth-child(2) {
    font-size: .7rem;
    text-transform: uppercase;
    color: var(--colorIconsPage);
}

.nodos:hover {
    transition: 1s;
    cursor: pointer;
    color: var(--darkNodos);
    background: var(--colorIconsPage);
}

.nodos:hover span{
    color: var(--dark);
}

.nodos:hover h4 {
    color: var(--dark);
}

.nodo-closeWindow {
    position: absolute;
    top: 5%;
    left: 5%;
    background: none;
    border: none;
}

.nodo-closeWindow:hover {
    cursor: pointer;
}